/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

/*------------- Utility ------------------------*/
body{
    font-family: 'Noto Sans', sans-serif;
    background:white;
    font-size: 12px;
    font-weight:400;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  
}

/*------------- head----------------------- */
header{
    background-color: rgb(12, 12, 151);
    margin-bottom: 20px;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro img{
    width: 555px;
    height: 438px;
    margin-top: 20px;
}
#banner
{
 color: white;
font-weight: bold;
font-size: 64px;
position: relative;
left: 156px;
}
.button{
    position: relative;
    top: 100px;
    left: -354px;
    background-color: #E02C6D;
    text-decoration: none;
    font-size: 15px;
    color: white;
    width: 115px;
    height: 32px;
    text-align: center;
}

/* -------------Player style---------------- */

main{
    display: flex;
    justify-content: center;
}
.container{
    width: 1050px;
    height: 474px; 
    
}
.players 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;  
    padding-left: 15px;
    margin-left: 4rem;
    
}
.player img{
    width: 170px;
    height: 117px;
    padding-left: 15px;
    padding-top: 13px;
}
.player
{
    width: 200px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 8px 10px #8888885d;
    
}
#paragraph
{
    width: 11rem;
    height: 2rem;
 margin-top: -2rem;
 padding-left: 10px;
}
#card-one
{
    margin-left: 80px;
    margin-top: 20px;
}
#card-two
{
    margin-left: 20px;
    margin-top: 20px;
}
#card-three
{
    margin-left: -35px;
    margin-top: 20px;
}
h2 
{
  position: relative;
  bottom: 1rem;
  left: 10px;
}

/* -------------footer ------------*/
.footer{
    position: relative;
    top: 720px;
    margin-left: 540px  ;
}
.footer img{
    width: 400px;
    height: 100px;
}
#logo
{
    position: relative;
    left: 200px;
    font-size: 16px;
}
.copyright{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 130px;
}

